
html, body {
	font-family: 'Raleway', sans-serif;
}

/*=====================================================================
  DESKTOP CLASSES 
  =====================================================================
*/

#desktopTitle {
	cursor: pointer;
	display: inline;
}
.blogSideBar {
	
}

.blogPostArea {

}


.postSummaryRoot {
	/*cursor: pointer;*/
	position: relative;
}

.postSummaryRoot *{
	padding: 3px;
}

.postSummaryContent {
	display: inline-block;
}

.postSummaryThumb {
	height: 30%;
	width: 30%;
	margin-top: 4%;
	margin-bottom: 0;
	vertical-align: top;
	display: inline-block;
}

.postSummaryTitle {
	display: inline-block;
}

.postSummaryTagContainer i{
	display: inline;
}

.postSummaryDate {
	display: inline-block;
	color: lightgrey;
}

.postSummarySpan {
	position: absolute; 
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
}

#postPageElement {
	display: none;
}

.postSummarySpan:hover {
	cursor: pointer;
}
.postSummaryDescription {
	display: block;
}

.desktopHeader{
	border-width: 1px;
	border-bottom-style: solid;
	border-color: grey;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.titleDiv {
	width: calc(5*(100vw / 12 ) - 1vw);
	float: left;
}
.menuDiv {
	margin-top: 35px;
	padding-left: 2px;
	padding-right: 2px;
	border-right-style: solid;
	border-width: 1px;
	border-color: grey;
	float: left;
}

.menuDiv:hover {
	cursor: pointer;
}
.menuDivEnd:hover {
	cursor: pointer;
}
.menuDivEnd {
	margin-top: 35px;
	padding-left: 2px;
	padding-right: 2px;
	float: left;
}

#loadMoreButton {
	width: 100%;
	margin-bottom: 15%;
}

.loading {
	display: none;
	padding-bottom: 10%;
	padding-top: 10%;
	padding-left: 30%;
}
	


/*=====================================================================
  MOBILE CLASSES 
  =====================================================================
*/

#mobileTitle {
	cursor: pointer;
	display: inline;
}
.mobileHeader {
	margin: 0;
	width: 100%;
	display: none;
	text-align: center;
	border-width: 1px;
	border-bottom-style: solid;
	border-color: lightgrey;
	width: 100%;
}
.mobileFooter {
	width: 100%;
	position: fixed;
	display: none;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-color: lightgrey;
	background-color: white;
	bottom: 0;
	z-index: 2;
	vertical-align: bottom;
}

.mobileMenuTagDiv {
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	display: inline-block;
    border-right-width: 1px;
    border-width: 1px;
    border-right-style: solid;
    border-color: grey;
	background-color: white;
    width: 25%;
    margin: 0;
    text-align: center;
    float: left;
}
.mobileMenuTagDivEnd {
	display: inline-block;
    width: 25%;
    margin: 0;
    text-align: center;
    float: left;
}

.mobileTagIcon {
	display: inline;
	color: grey;
}
.marked {
	color: white;
}


/*If the device width is 1000px or fewer
NOTE:
	The bootstrap wrap occurs at ~991px, hence the number.
	If desktop users split their windows, the sidebar will 
	go away. They'll have to adjust the zoom to get it back.
	
*/
@media only screen and (max-width: 1000px)  {
	.blogSideBar {
		display: none;
	}
	.desktopHeader {
		display: none;
	}
	.desktopFooter {
		display: none;
	}
	.mobileHeader {
		display: block;
	}
	.mobileFooter {
		display: block;
	}
	.postSummaryThumb {
		margin-top: 10%;
	}

}
