
html, body {
	font-family: 'Raleway', sans-serif;
}
body {
	margin: 0;
}

.menuContainer {
	background-color: #9099A2;
	margin-top: 0;
	z-index: 2;
	width: 100%;
	top: 0;
	padding: 0;
}
#postContainer {
	position: absolute;
	width: 100%;
}
.titleDiv {
	width: 100%;
	overflow: auto;
	margin-top: 0;
	padding: 0;
}
#desktopTitle {
	cursor: pointer;
	color: white;
	float: left;
	padding: 0;
	margin: 0;
	z-index: 10;
}
.container {
	position: relative;
	width: 100%;
}
.search {
	color: white;
	cursor: pointer;
	float: right;
	display: inline;
	margin-right: 3px;
}
.up {
	color: #9099A2;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 5;
}
.up:hover {
	cursor: pointer;
}
#searchBar {
	display: none;
	width: 100%;
	position: relative;
}
#closeSearch {
	position: absolute;
	right: 5px;
	bottom: 15px;
	color: #9099A2;
}
#closeSearch:hover {
	cursor: pointer;
}
#searchBar input {
	width: 100%;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 5px;
	border: none;
	height: 50px;
	color: #9099A2;
}

#searchMobile {
	display: none;
}
#upMobile {	
	display: none;
}
.postTagSpan {
	color: white;
	background-color: #9099A2;
	display: inline-block;
}

/*=====================================================================
  DESKTOP CLASSES 
  =====================================================================
*/


.blogSideBar {
	
}

.blogPostArea {

}


.postSummaryRoot {
	/*cursor: pointer;*/
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
	margin: 10px;
	background-color: white;
}

.postSummaryRoot *{
	padding: 3px;
}

.postSummaryContent {
	display: inline-block;
}

.postSummaryThumb {
	height: 30%;
	width: 30%;
	margin-top: 4%;
	margin-bottom: 0;
	vertical-align: top;
	display: inline-block;
}

.postSummaryTitle {
	display: block;
	color: #9099A2;
}
.postSummaryTagContainer i{
	display: inline;
}

.postSummaryDate {
	display: block;
	color: lightgrey;
}

.postSummarySpan {
	position: absolute; 
	width: 100%;
	height: 100%;
	left: 0;
	z-index: 1;
}

#postPageElement {
	display: none;
}

.postSummarySpan:hover {
	cursor: pointer;
}
.postSummaryDescription {
	display: block;
}

.desktopHeader{
	margin-left: 0;
	margin-right: 0;
}



.menuDiv:hover {
	cursor: pointer;
}
.menuDivEnd:hover {
	cursor: pointer;
}
.menuDivEnd {
	margin-top: 35px;
	padding-left: 2px;
	padding-right: 2px;
	float: left;
}

#loadMoreButton {
	width: 100%;
	margin-bottom: 15%;
}

.loading {
	display: none;
	padding-bottom: 10%;
	padding-top: 10%;
	padding-left: 30%;
}
	


 @media only screen and (max-width: 250px) {
 	body {
 		width: 250px;
 	}

}
